@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&amp;display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #a79a9a;
}

#canvas1 {
    border: 2px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4d79bc;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 0 50px 50px;
    /* font-family: "Dancing Script", sans-serif;
    font-family: "Macondo", sans-serif; */
    font-family: 'Macondo Swash Caps', cursive;
}

#layer1, #layer2, #layer3, #layer4,
#hivewhale, #drone,
#player, #angler1, #angler2, #lucky,
#projectile, #gears,
#smokeExplosion, #fireExplosion {
    display: none;
}
