@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&amp;display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    background-image: url(images/svg/abstract-lines.png);
}
.wrapper {
    text-align: unset;
    justify-content: center;
    margin: 0 auto;
    width: 1024px;
    box-shadow: 1px 18px 18px -5px rgba(0, 0, 0, 0.3);
}
.mobileMenu {
    display: block;
    transition: 1000ms;
    /*width: 300px;*/
    width: 40px;    
    margin: 10px;
    cursor: pointer;
    position: fixed;
    Z-INDEX: 400;
    border-radius: 0 20px 10px 20px;
    background-color: #fafafa;
}
.mobileMenu.yellowBorder {
    border: 3px solid yellow;
    left: 220px;
}
.menuIcon {
    width: 35px;
}
.mobile-menu-container {
    opacity: 0;
    pointer-events: none;
    display: none;
}
/* Mobile Menu Items */
.mobile-menu-container.active {
  transition: 1000ms;
  display: flex;
  width: 360px;
  cursor: pointer;
  font-family: 'Macondo', sans-serif;
  height: 295px;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #fafafa;
  z-index: 300;
  opacity: 1;
  pointer-events: auto;
  left: 0;
  /*width: 60%;
  margin-left: 65px;*/
  top: 0;
  transition: 400ms;
  border-bottom: 3px solid yellow;
  border-radius: 0 20px 250px 0;
}
.mobile-menu-container ul {
  /*list-style: none;*/
  padding: 0;
}
.mobile-menu-container ul li {
  margin: 30px 0;
}
.mobile-menu-container ul li a {
  font-size: 15px;
  padding: 25px;
  margin-left: 25px;
  text-decoration: none;
  color: #12161c;
  font-weight: bold;
  border: 2px solid yellow;
  border-radius: 10px 20px 0 10px;
}


.logo-icon {
    width: 400px;
}

.logo-icon img {
    width: 200px;
    height: 28px;
    border-radius: 10px 5px 0 5px;
}

.startGame{
    display: none;
}
.startGame.active {
    display: block;
}
.startGameBtn {
    position: absolute;
    z-index: 250;
    left: 40%;
    display: block;
    border-radius: 10px 0 50px;
    top: 50%;
    padding: 20px;
    background-color: #4d79bc;
    border: 2px solid #fff;
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 25px;
    cursor: pointer;
}

.addDivSpace-1 {
    content: " ";

}

.gameWorld {
    height: auto;

}

.canvasLoad {
    display: none;
}
.canvasLoad.active {
    border: 2px solid yellow;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4d79bc;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 0 50px 50px;
    /* font-family: "Dancing Script", sans-serif;
    font-family: "Macondo", sans-serif; */
    font-family: 'Macondo Swash Caps', cursive;
}

#layer1, #layer2, #layer3, #layer4,
#hivewhale, #drone,
#player, #angler1, #angler2, #lucky,
#projectile, #gears,
#smokeExplosion, #fireExplosion {
    display: none;
}

/* direction Buttons and Shooting Buttons */
.gameBtn {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 300;
    bottom: 50%;
    justify-content: space-around;
    width: 100%;
}
.directionButtons {
    position: absolute;
    z-index: 300;
    color: #fafafa;
    /*bottom: 50%;
    display: flex;*/
    left: 0;
    bottom: -180px;
}
.shootBtn {
    position: absolute;
    right: 20px;
    bottom: -170px;
    z-index: 300;
}
.top-btn, .bottom-btn {
    margin: 10px;
}
.top-btn, .bottom-btn, .shoot-Btn {
    display: none;
}
.top-btn.active, .bottom-btn.active, .shoot-Btn.active {
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 4px -4px 13px 8px rgb(0 0 0 / 30%);
    border: none;
    font-family: 'Macondo', sans-serif;
    font-size: 20px;
    color: #12161c;
    font-weight: bold;
    background-color: yellow;
    cursor: pointer;
}
/* copyrightMsg */
.copyrightMsg {
    background-color: #12161c;
    border-radius: 0 50px 50px 0;
    position: absolute;
    /* bottom: -10;*/
    bottom: -135px;
    background-image: url(images/svg/abstract-lines.png);
    color: #fafafa;
    padding: 48px;
    font-weight: bold;
    font-family: "Macondo", sans-serif;
    text-align: center;
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
} a.theDeveloper {
    color: #f7df08 !important;
}
 .theDeveloper {
   color: #f7df08;
   text-decoration: none;
}

/* BOUNCING STYLES  */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}
@keyframes bounceUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* Bouncing Ball Div */
.ball {
    animation: bounce 1.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 80px auto 0 auto;
    background: yellow;
    opacity: 0.4;
    position: fixed;
    top: 0;
    right: 32px;
    z-index: 1100;
}

#Phone_Grass {
    width: 100%;
    height: 100%;
    position: absolute;
}
