@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&amp;display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #a79a9a;
}
.wrapper {
    text-align: unset;
    justify-content: center;
    margin: 0 auto;
    width: 1024px;
    box-shadow: 1px 18px 18px -5px rgba(0, 0, 0, 0.3);
}
.top-nav {
    background-image: url(images/svg/abstract-lines.png);
    background-color: yellow; 
    justify-content: space-between;
    font-family: "Macondo", sans-serif;
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 1024px;
    z-index: 200;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #1B2021;
    border-top: 2px solid #1B2021;
    border-radius: 20px 0 10px 20px ;
}
ul {
    display: flex;
    list-style: none;
    width: 700px;
    justify-content: space-around;
}
ul li { 
    margin: 0 24px;
}
ul li a {
    color: #07050d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.logo-icon {
    width: 400px;
}

.logo-icon img {
    width: 200px;
    height: 28px;
    border-radius: 10px 5px 0 5px;
}

.startGame{
    display: none;
}
.startGame.active {
    display: block;
}
.startGameBtn {
    position: absolute;
    z-index: 250;
    left: 40%;
    display: block;
    border-radius: 10px 0 50px;
    top: 50%;
    padding: 20px;
    background-color: #4d79bc;
    border: 2px solid #fff;
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 25px;
    cursor: pointer;
}
.canvasLoad {
    display: none;
}
.canvasLoad.active {
    border: 2px solid yellow;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4d79bc;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 0 50px 50px;
    /* font-family: "Dancing Script", sans-serif;
    font-family: "Macondo", sans-serif; */
    font-family: 'Macondo Swash Caps', cursive;
}

#layer1, #layer2, #layer3, #layer4,
#hivewhale, #drone,
#player, #angler1, #angler2, #lucky,
#projectile, #gears,
#smokeExplosion, #fireExplosion {
    display: none;
}

/* direction Buttons and Shooting Buttons */
.gameBtn {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 300;
    bottom: 50%;
    justify-content: space-around;
    width: 1024px;
}
.directionButtons {
    position: absolute;
    z-index: 300;
    bottom: 50%;
    color: #fafafa;
    display: flex;
}
.top-btn, .bottom-btn {
    margin: 10px;
}
.top-btn, .bottom-btn, .shoot-Btn {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px -4px 13px 8px rgb(0 0 0 / 30%);
    border: none;
    font-family: 'Macondo', sans-serif;
    font-size: 20px;
    color: #12161c;
    font-weight: bold;
    background-color: yellow;
    cursor: pointer;
}
/* Footer */
footer {
    background-color: #12161c;
    position: absolute;
    width: 1024px;
    bottom: 0;
    background-image: url(images/svg/abstract-lines.png);
    color: #fafafa;
    padding: 48px;
    font-weight: bold;
    font-family: "Macondo", sans-serif;
    text-align: center;
}
/* a.theDeveloper {
    color: #00132a;
} */
 .theDeveloper {
   color: #f7df08;
   text-decoration: none;
}

/* BOUNCING STYLES  */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}
@keyframes bounceUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* Bouncing Ball Div */
.ball {
    animation: bounce 1.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 80px auto 0 auto;
    background: yellow;
    opacity: 0.4;
    position: fixed;
    top: 0;
    right: 32px;
    z-index: 1100;
}

#Phone_Grass {
    width: 1024px;
    height: 100%;
    position: absolute;
}
